<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

  <httpPlatform
    processPath="C:\inetpub\cs\.venv\Scripts\python.exe"
    arguments="waitress_app.py"
    startupTimeLimit="120"
    rapidFailsPerMinute="10"
    processesPerApplication="1">
  </httpPlatform>
  </system.webServer>
</configuration>
